#####=== JetBrains ===#####
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
gitignore/env/
gitignore/build/
gitignore/develop-eggs/
gitignore/dist/
gitignore/downloads/
gitignore/eggs/
gitignore/lib/
gitignore/lib64/
gitignore/parts/
gitignore/sdist/
gitignore/var/
gitignore/*.egg-info/
gitignore/.installed.cfg
gitignore/*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
gitignore/*.manifest
gitignore/*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
gitignore/.tox/
gitignore/.coverage
gitignore/.cache
gitignore/nosetests.xml
gitignore/coverage.xml

# Translations
gitignore/*.mo
gitignore/*.pot

# Django stuff:
gitignore/*.log

# Sphinx documentation
docs/_build/

# PyBuilder
gitignore/target/

# Custon
gitignore/dev/
gitignore/.DS_Store

gitignore/*.iml

## Directory-based project format:
.idea/
# if you remove the above rule, at least ignore the following:

# User-specific stuff:
# .idea/workspace.xml
# .idea/tasks.xml
# .idea/dictionaries

# Sensitive or high-churn files:
# .idea/dataSources.ids
# .idea/dataSources.xml
# .idea/sqlDataSources.xml
# .idea/dynamic.xml
# .idea/uiDesigner.xml

# Gradle:
# .idea/gradle.xml
# .idea/libraries

# Mongo Explorer plugin:
# .idea/mongoSettings.xml

## File-based project format:
*.ipr
*.iws

## Plugin-specific files:

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties

